/*using IDs to up the priority points so they get over the base bootstrap css*/
#main-image {
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	
}

#main-card {
	padding: 2em;
	margin: 2em;
}

#strategy-list {
	background-color: #bdc3c7;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}
