{% extends "base.html" %}
{% block content %}


	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Delete {{strategy.name}}?</h1>
		</div>
	</div>


	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
				<button type="submit" class="btn btn-danger" id="submit" type="submit">Delete</button>
				<a href="{{ url_for('showStrategies', strategy_id=strategy.id)}}">Cancel</a>
			</form>
		</div>
	</div>


{% endblock %}