{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col-md-12">
		<h1>Edit {{strategy.name}}</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form action="{{ url_for('editStrategy', strategy_id=strategy.id)}}" method = "post">
			<div class="form-group">
			<label for="name">Name:</label>
			<input type ="text" class="form-control" maxlength="100" name="name" value="{{strategy.name}}">
			<label for="name">Description:</label>
			<input type ="text" class="form-control" maxlength="100" name="description" value="{{strategy.description}}">

			<label for="name">Image URL:</label>
			<input type ="text" class="form-control" maxlength="500" name="image" value="{{strategy.image}}">
			<button type="submit" class="btn btn-primary" id="submit" type="submit">
			<span aria-hidden="true"></span>Update</button>
			<a href="{{ url_for('showStrategies', strategy_id=strategy.id)}}">Cancel</a>
		</form>
	</div>
</div>
{% endblock %}